header {
    padding: 30px;
    text-align: center;
    background: white;
    color: black;
    font-size: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#NavButtsContainer ul {
    list-style-type: none;
    width: 720px;
    padding: 0;
    overflow: hidden;
    background-color: white;
    margin: 0 auto;
}

#NavButts li {
    /*float: left;*/
    display: inline-block;
    font-size: 30px;
    /*padding-right: 20px;*/
    margin: 50px;
}

#NavButts li a {
    /*display: block;*/
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#NavButts li a:hover {
    background-color: antiquewhite;
}

#AllTeasText {
    font-size: 30px;
    padding: 40px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 300px;
    width: 450px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.TilesImg {
    float: left;
    margin: 10px;
    height: 200px;
    width: 200px;
}

.card-text {
    word-wrap: break-word;
}

.button-details {
    float: bottom;
    margin-left: 40px;
    margin-top: 40px;
    height: 60px;
    width: 140px;
    font-size: 30px;
}

.card-title {
    padding-left: 2%;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

#Tiles li {
    display: inline-block;
    /*padding-right: 20px;*/
    margin: 10px;
}

footer {
    margin-top: 150px;
}

p.footer-border {
    border: 5px solid;
    border: black;
}
