header {
    padding: 60px;
    text-align: center;
    background: white;
    color: black;
    font-size: 30px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#NavButtsContainer ul {
    list-style-type: none;
    width: 420px;
    padding: 0;
    overflow: hidden;
    background-color: white;
    margin: 0 auto;
}

#NavButts li {
    /*float: left;*/
    display: inline-block;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 30px;
}

#NavButts li a {
    /*display: block;*/
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#NavButts li a:hover {
    background-color: antiquewhite;
}