.material-icons {
    font-size: 70px;
    background-color: white;
    border: 0 solid white;
}

.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.3;
}

/*# Header -->*/
.header {
    padding: 30px 30px 30px 30px;
    text-align: center;
    font-size: 30px;
}

.header .title {
    font-size: 50px;
    font-weight: bold;
}

/*# /Header -->*/

/*# Navigation -->*/
.nav-container {
    padding: 0;
    margin: 0 auto;
}

.nav-text {
    color: black;
    text-decoration: none
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px;
}

.nav-list-item {
    font-size: 30px;
    text-align: center;
}

/*# /Navigation -->*/

/*# Header Form -->*/
.form-header .header {
    font-size: 32px;
}

/*# /Header Form -->*/


.fields-info {
    margin: 18px;
    font-size: 12px;
    color: red;
}

/*# Form -->*/
.form-add-accessory {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.form {
    border: 3px solid #4CAF50;
    border-radius: 3px;
}

.form-wrapper {
    list-style-type: none;
    padding: 0;
    background-color: white;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.form-input {
    padding: .5em;
    border-color: #b4b2b4;
}

.label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

input[type=checkbox] {
    visibility: hidden;
}

.checkbox-necessary {
    width: 120px;
    height: 40px;
    background: #dddddd;
    margin: 10px 145px 10px 10px;
    border-radius: 50px;
    position: relative;
}

.checkbox-necessary:before {
    content: 'YES';
    position: absolute;
    top: 12px;
    left: 13px;
    height: 2px;
    color: #4CAF50;
    font-size: 16px;
}

.checkbox-necessary:after {
    content: 'NO';
    position: absolute;
    top: 12px;
    left: 84px;
    height: 2px;
    color: #2d2d2d;
    font-size: 16px;
}

.checkbox-label {
    display: block;
    width: 52px;
    height: 22px;
    border-radius: 50px;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 12px;
    background: #2d2d2d;
}

.checkbox-necessary input[type=checkbox]:checked + .checkbox-label {
    left: 60px;
    background: #4CAF50;
}

.form-text-area {
    padding: .5em 1em .5em 0;
    display: flex;
    flex-direction: column;
    border-color: #b4b2b4;
}

.form-submit-button {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: white;
    border-radius: 3px;
    padding: .5em;
}

/*# /Form -->*/


/*# Error -->*/
.error {
    font-size: 15px;
    color: #bb0018;
    text-align: center;
}

.error-summary {
    font-size: 15px;
    color: #bb0018;
    text-align: left;
    flex: 0.5;
    margin-top: 15px;
    margin-right: 15px;
}
/*# Error -->*/

/*# Footer -->*/
.footer {
    margin-top: 150px;
}

.footer-border {
    border-right: 1px solid black;
    border-top: 1px solid black;
}

/*# /Footer -->*/